PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/auction_db
JWT_SECRET=change_me
AWS_REGION=us-east-2
S3_BUCKET=bidbrawler-auction-images-ACCOUNT_ID-us-east-2-an
CLOUDFRONT_DOMAIN=change_me.cloudfront.net
AWS_ACCESS_KEY_ID=change_me
AWS_SECRET_ACCESS_KEY=change_me
STRIPE_SECRET_KEY=sk_test_change_me
